body {
    font-family: verdana;
    animation: rainbow-background 5s linear infinite;
}

h2 {
  margin: 20px;
}

.calc-container {
    overflow: auto;
}

.calculator {
    padding: 10px;
    width: 400px;
}

.calculator div {
    padding: 10px;
}

#result {
    padding: 10px;
    /*float: right;*/
    width: 500px;
    height: 200px;
    /*margin-top: -300px;*/
    /*margin-right: 250px;*/
    border: 2px solid gray;
    border-radius: 5px;
    /*visibility: hidden;*/
}

/*.resultShow {*/
/*    visibility: visible;*/
/*}*/

input {
    border-radius: 5px;
    width: 80px;
}

.calculator p {
    font-size: 10px;
    color: dimgray;
}

#loanErrorMsg {
    color: red;
}

button {
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: forestgreen;
}

@keyframes rainbow-background {
    0% {
        background: rgba(148, 0, 211, 0.5);
    }
    10% {
        background: rgba(75, 0, 130, 0.5);
    }
    20% {
        background: rgba(0, 0, 255, 0.5);
    }
    30% {
        background: rgba(53, 161, 232, 0.5);
    }
    40% {
        background: rgba(0, 255, 0, 0.5);
    }
    50% {
        background: rgba(255, 255, 0, 0.5);
    }
    60% {
        background: rgba(255, 162, 0, 0.5);
    }
    70% {
        background: rgba(255, 127, 0, 0.5);
    }
    80% {
        background: rgba(255, 0 , 0, 0.5);
    }
    90% {
        background: rgba(255, 105, 180, 0.5);
    }
    100% {
        background: rgba(242, 58, 205, 0.5);
    }
}