*{
    font-family: 'Questrial';
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #000000;
    color: #ffffff;
}

h2 {
  margin: 20px;
}

.calc-container {
    overflow: auto;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
}

.calculator {
    padding: 10px;
    width: 400px;
}

.calculator div {
    padding: 10px;
}

#result {
    padding: 10px;
    /*float: right;*/
    width: 500px;
    height: 200px;
    /*margin-top: -300px;*/
    /*margin-right: 250px;*/
    border: 2px solid gray;
    border-radius: 5px;
    /*visibility: hidden;*/
}

/*.resultShow {*/
/*    visibility: visible;*/
/*}*/

#result>p {
    margin: 15px;
}

input {
    border-radius: 5px;
    width: 80px;
}

.calculator p {
    font-size: 10px;
    color: dimgray;
}

#loanErrorMsg {
    color: red;
}

button {
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: forestgreen;
}