body {
    font-family: verdana;
}

h2 {
  margin: 20px;
}

.calc-container {
    overflow: auto;
}

.calculator {
    padding: 10px;
    width: 400px;
}

.calculator div {
    padding: 10px;
}

.result {
    padding: 10px;
    float: right;
    width: 500px;
    height: 200px;
    margin-top: -300px;
    margin-right: 250px;
    border: 2px solid gray;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    width: 80px;
}

.calculator p {
    font-size: 10px;
    color: gray;
}

#loanErrorMsg {
    color: red;
}

button {
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: forestgreen;
}